	/***************
	STRUCT
	
	- Imports
	
	- Base
	
	- Header
		- logo
		- menu
	
	- Banner

	- Content
		- article
		- aside

	- Footer
		- menu-footer
		- rights

	- Forms

	- Misc

	/*
		organization proposed
			
			1  > 3  : position
			4  > 5  : float
			6       : display
			7  > 10 : sizes and spacings
			11 > 12 : block format
			13 > 15 : content format

			.selector {
			    	1 - position:;
					2 - top:;
					3 - left:;
					4 - float:;
					5 - clear:;
					6 - display:;
					7 - width:;
					8 - height:;
					9 - margin:;
					10 - padding:;
					11 - border:;
					12 - background:;
					13 - font:;
					14 - text:;
					15 - color:;
			}
	*/
/***************/
/***************
	Base css 
		Imports
		Definition of variables
		Font-face
		General Styles
		Mixins
***************/
/***************
	imports
***************/
/***************
	mixins
***************/
/***************
	Mixins
***************/
/** 
	link-decoration 
**/
/***************
	End _mixin.scss
***************/
/***************
	Variables
***************/
/** Links **/
/** Body **/
/** Main content **/
/** Selection **/
/***************
	Font-face
***************/
@font-face {
  font-family: "Open Sans";
  src: url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/***************
	General Styles
***************/
/** body **/
/* line 52, ../sass/_base.scss */
body, input, textarea {
  background: white;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
}

/** links **/
/* line 59, ../sass/_base.scss */
a {
  color: #0088cc;
  text-decoration: none;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 18, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #cc0000;
}
/* line 21, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #cc0000;
}
/* line 24, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #cc0000;
}
/* line 27, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #cc0000;
}
/* line 10, ../sass/_mixin.scss */
a:hover {
  text-decoration: none;
  border-bottom: 1px dashed #999999;
  padding-bottom: 1px;
}

/** selection **/
/* line 66, ../sass/_base.scss */
::-moz-selection {
  background: #111111;
  color: white;
  text-shadow: none;
}

/* line 72, ../sass/_base.scss */
::selection {
  background: #111111;
  color: white;
}

/***************
	End _base.scss
***************/
/***************
	Header 
***************/
/* line 70, ../sass/screen.scss */
.header {
  min-height: 100px;
  height: auto !important;
  height: 100px;
  background: #111111;
}

/** logo **/
/* line 76, ../sass/screen.scss */
.logo {
  min-height: 100px;
  height: auto !important;
  height: 100px;
}

/** menu **/
/* line 81, ../sass/screen.scss */
.menu {
  min-height: 100px;
  height: auto !important;
  height: 100px;
  background: url(../img/620x100.gif);
}
/* line 85, ../sass/screen.scss */
.menu ul {
  padding-top: 70px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
.menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 35px;
  padding-right: 35px;
}

/***************
	Banner
***************/
/* line 94, ../sass/screen.scss */
.banner {
  min-height: 200px;
  height: auto !important;
  height: 200px;
  background: #222222;
}

/***************
	Content
***************/
/* line 102, ../sass/screen.scss */
.content {
  min-height: 300px;
  height: auto !important;
  height: 300px;
  background: #333333;
}

/** article **/
/* line 108, ../sass/screen.scss */
.article {
  min-height: 300px;
  height: auto !important;
  height: 300px;
  background: url(../img/620x280.gif);
}

/** aside **/
/* line 114, ../sass/screen.scss */
.aside {
  min-height: 300px;
  height: auto !important;
  height: 300px;
  background: url(../img/300x280.gif);
}

/***************
	Footer
***************/
/* line 122, ../sass/screen.scss */
.footer {
  min-height: 100px;
  height: auto !important;
  height: 100px;
  background: #444444;
}

/** menu-footer **/
/* line 128, ../sass/screen.scss */
.menu-footer {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  min-height: 100px;
  height: auto !important;
  height: 100px;
  background: url(../img/620x100.gif);
}
/* line 49, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
.menu-footer li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 30px;
}

/** rights **/
/* line 135, ../sass/screen.scss */
.rights {
  min-height: 100px;
  height: auto !important;
  height: 100px;
  background: url(../img/300x100.gif);
}

/***************
	Forms
***************/
/***************
	Misc
***************/
/* line 149, ../sass/screen.scss */
.chromeframe {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000;
}
